body{ 
    background-color: black;
    color: white;
    font-family: "Chakra Petch", sans-serif;
}

section{
        background-color: rgb(74, 10, 142);
        padding-bottom: 5%;
        padding-top: 5%;
        display: flex;
        justify-content: center;

}

.texto {
    margin-right: 80px;
}